<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Chrome Touch Icons -->
  <meta name="mobile-web-app-capable" content="yes" />
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="theme-color" content="#ee0979">

  <!-- Apple Touch Icons -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="Developers Conference 2017 - Mauritius" />
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">

  <!-- Windows 8 Tile Icons -->

  <meta name="msapplication-square70x70logo" content="/assets/images/favicon/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="/assets/images/favicon/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="/assets/images/favicon/widetile.png" />
  <meta name="msapplication-square310x310logo" content="/assets/images/favicon/largetile.png" />

  <!-- Pinned Site -->
  <meta name="application-name" content="Developers Conference 2017 - Mauritius">
  <meta name="msapplication-tooltip" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017.">

  <title>Developers Conference 2017 - Mauritius</title>
  <meta name='description' content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta name='keywords' content="devconmru, developers conference mauritius, devcon2017, mscc, user group, community, call for papers, cfp, internet of things, iot" />
  <meta name='copyright' content="Copyright Mauritius Software Craftsmanship Community" />
  <meta name='language' content="en" />
  <meta name='robots' content="index,follow" />

  <meta name='summary' content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta name='author' content="Mauritius Software Craftsmanship Community" />
  <meta name='url' content="https://conference.mscc.mu" />
  <meta name='identifier-URL' content="https://conference.mscc.mu" />
  <meta name='pagename' content="Developers Conference 2017 - Mauritius" />
  <meta name='category' content="" />
  <meta name='date' content="" />

  <meta itemprop="name" content="Developers Conference 2017 - Mauritius" />
  <meta itemprop="description" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta itemprop="image" content="" />

  <meta property="og:title" content="Developers Conference 2017 - Mauritius" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://conference.mscc.mu" />
  <meta property="og:image" content="/assets/images/og-image.jpg" />
  <meta property="og:description" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta property="og:site_name" content="Developers Conference 2017 - Mauritius" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Developers Conference 2017 - Mauritius" />
  <meta name="twitter:site" content="@mscraftsman">
  <meta name="twitter:creator" content="@mscraftsman">
  <meta name="twitter:description" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta name="twitter:image" content="/assets/images/og-image.jpg" />

	<link rel="preload" href="/assets/css/main.css" as="style" onload="this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/assets/css/main.css"></noscript>
	<script>
		/*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
		!function(a){"use strict";var b=function(b,c,d){function j(a){if(e.body)return a();setTimeout(function(){j(a)})}function l(){f.addEventListener&&f.removeEventListener("load",l),f.media=d||"all"}var g,e=a.document,f=e.createElement("link");if(c)g=c;else{var h=(e.body||e.getElementsByTagName("head")[0]).childNodes;g=h[h.length-1]}var i=e.styleSheets;f.rel="stylesheet",f.href=b,f.media="only x",j(function(){g.parentNode.insertBefore(f,c?g:g.nextSibling)});var k=function(a){for(var b=f.href,c=i.length;c--;)if(i[c].href===b)return a();setTimeout(function(){k(a)})};return f.addEventListener&&f.addEventListener("load",l),f.onloadcssdefined=k,k(l),f};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
		/*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
		!function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(a){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
	</script>

  <script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://www.mscc.mu",
            "logo": "https://www.mscc.mu/images/logo.png"
        },
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "MSCC",
            "alternateName": "Mauritius Software Craftsmanship Community",
            "url": "http://www.mscc.mu"
        },
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "Developers Conference 2017",
            "description": "The event is a free of charge, community-driven, three-days IT tech conference hosted annually in Mauritius. It’s an event full of business opportunities, professional networking, and attendees can learn about latest software development technologies and methodologies, as well as cloud features and infrastructure.",
            "startDate": "2017-03-30T09:00",
            "endDate": "2017-04-01T17:30",
            "url": "https://conference.mscc.mu",
            "image": "https://conference.mscc.mu/assets/images/banner-280-409.png",
            "location": {
                "@type": "Place",
                "sameAs": "http://www.voilahotel.mu/",
                "name": "Voila Hotel",
                "address": {
                  "@type": "PostalAddress",
                  "streetAddress": "Bagatelle Mall of Mauritius",
                  "addressLocality": "Reduit",
                  "addressRegion": "MU",
                  "addressCountry": "Mauritius"
                }
              },
            "eventStatus": "EventScheduled"
        }
    ]
    </script>
</head>
<body class="type-homepage">
<header class="header-container" data-id="menu">
  <div class="container-fw">
    <div class="logo-wrapper">
      <a href="/"><img src="/assets/images/logo.svg" alt=""></a>
    </div>
    <div class="mobile-menu-wrapper">
      <button data-id="mobile-menu">
        <div class="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </button>
    </div>
    <div class="menu-wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="venues.html">Venues</a></li>
        <li><a href="sessions.html">Sessions</a></li>
        <li><a href="/#sponsors">Sponsors</a></li>
        <li><a href="/#speakers">Speakers</a></li>
        <li><a href="jobs.html">Jobs</a></li>
        <li><a href="extras.html">Extras</a></li>
        <li><a href="mailto:conference@mscc.mu">Contact</a></li>
      </ul>
    </div>

  </div>
</header>
<section class="intro-container">
  <div class="gradient-bg"></div>
  <div class="intro-free-tag">
    <span>Free Entrance</span>
  </div>
  <div class="container-fw intro-wrapper">
    <div class="content-wrapper">
      <img src="/assets/images/logo.svg" alt="">
      <h1>Developers Conference</h1>
      <span class="year-wrapper">2017</span>
    </div>
    <div class="content-wrapper-footer">
      <a href="#">Registration CLOSED</a>
      <date>30 March - 1 April  —  Voila Hotel &amp; Flying Dodo, Bagatelle</date>
    </div>
  </div>
</section>
<section class="section-container">
  <div class="container-fw">
    <div class="section-title-wrapper">
      <small>What's new for 2017</small>
      <h2>The biggest tech event in Mauritius</h2>
    </div>
    <div class="section-content-wrapper">
      <div class="description-text-wrapper">
        <div class="description-main">
          <p>
            After the success of previous years the Mauritius Software Craftsmanship Community (MSCC) is organising the third edition of the Developers Conference
            in partnership with a number of local and international companies. Although the MSCC was founded back in 2013 it quickly became clear that our tropical island has a certain lack of informational and technical events. During some monthly meetups we spoke about this situation and that it would be very interesting and delightful to organise such an event.
          </p>
          <p>
            Also, our monthly MSCC meetings are usually topic-centered and most amazingly we had solid technical information and good presenters - even though none is a professional trainer - during the last couple of month. The Developers Conference is just the consequent development of this process - our thirst for more information in the world of modern IT.
          </p>
          <p>
            Mauritius has been branded "Cyber Island" in the Indian Ocean... Opinions in those matters vary but with this conference we strive to improve the general attribution of our island. Mauritius has great political stability and economical advantages for foreign investors, and the most precious resource Mauritius has to offer is people's knowledge. The ICT sector in Mauritius is growing since years and maturing as the fourth pillar of our economy. With its geographical position Mauritius is also welcome as a business and knowledge hub between Africa and Asia.
          </p>
        </div>
        <div class="quote-main">
          <blockquote>From craftsmen - For craftsmen</blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-container dark-bg dark-image no-padding-container">
  <div class="container-fw-half">
    <div class="left-container-wrapper">
      <div class="section-title-wrapper">
        <small class="white-title">2016 Recap (Credits: L'Express Maurice)</small>
        <h2 class="orange-title">What you can expect to see this year</h2>
      </div>
      <div class="section-content-wrapper">
        <a href="https://youtu.be/6ITHnbYgglo" target="_blank" rel="noopener" class="video-button">View on Youtube</a>
      </div>
    </div>
    <div class="right-container-wrapper">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/6ITHnbYgglo" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
<section class="section-container center-content" id="sponsors">
  <div class="container-fw">
    <div class="section-title-wrapper">
      <small>We're in good company!</small>
      <h2>Our sponsors</h2>
    </div>
    <div class="section-content-wrapper">

      <!-- Preloader -->
      <div class="loader-container" data-id="sponsors-loader">
        <div class="loader-wrapper-one">
          <div class="loader-wrapper-two">
            <div class="loader-logo">
              <img src="/assets/images/logo.svg" alt="MSCC Logo">
            </div>
          </div>
        </div>
        <h3>Loading sponsors</h3>
      </div>
      <!-- Preloader -->

      <div class="sponsors-container" data-view="sponsors">
        <template v-for="sponsor in sponsors">
          <div class="sponsor-wrapper">
            <a target="_blank" v-bind:href="sponsor.gsx$url.$t + '/?utm_source=devconmru&utm_medium=banner&utm_campaign=sponsor'" rel="noopener"><img v-bind:src="'/assets/images/sponsors/' + sponsor.gsx$image.$t" v-bind:alt="sponsor.gsx$partner.$t"></a>
          </div>
        </template>
      </div>
      <div class="sponsors-become-button-container">
        <a href="https://goo.gl/tAOqjW" class="become-button" target="_blank" rel="noopener">Become a Sponsor <i class="ion-chevron-right"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="section-container center-content grey-bg" id="speakers">
  <div class="section-title-wrapper">
    <small>IT craftsmen speaking this year</small>
    <h2>Speakers of 2017</h2>
  </div>
  <div class="section-content-wrapper">

    <!-- Preloader -->
    <div class="loader-container" data-id="speakers-loader">
      <div class="loader-wrapper-one">
        <div class="loader-wrapper-two">
          <div class="loader-logo">
            <img src="/assets/images/logo.svg" alt="MSCC Logo">
          </div>
        </div>
      </div>
      <h3>Loading speakers</h3>
    </div>
    <!-- Preloader -->

    <div class="speakers-container" data-view="speakers">
      <template v-for="speaker in speakers">
      <div class="speaker-wrapper">
        <template v-if="speaker.gsx$photopath.$t != ''">
          <div class="speaker-photo" v-bind:style="'background-image:url(/assets/images/speakers/' + speaker.gsx$photopath.$t + ');'"></div>
        </template>
        <template v-else>
          <div class="speaker-photo" style="background-image:url(/assets/images/speakers/default.jpg)"></div>
        </template>
        <div class="speaker-details">
          <div class="speaker-details-name" v-html="speaker.gsx$fullname.$t"></div>
          <div class="speaker-social-media">
            <template v-if="speaker.gsx$twitter.$t != ''">
            <a target="_blank" v-bind:href="'https://twitter.com/' + speaker.gsx$twitter.$t">
              <i class="ion-social-twitter"></i>
            </a>
            </template>
            <template v-if="speaker.gsx$link.$t != ''">
            <a target="_blank" v-bind:href="speaker.gsx$link.$t">
              <i class="ion-code"></i>
            </a>
            </template>
          </div>
        </div>
      </div>
      </template>
      <div class="speakers-become-button-container">
        <a href="https://goo.gl/DRGDfe" class="become-button" target="_blank" rel="noopener">Apply as a Speaker <i class="ion-chevron-right"></i></a>
      </div>
    </div>
</section>
<section class="section-container">
  <div class="container-fw">
    <div class="left-container-wrapper">
      <div class="section-title-wrapper">
        <small>2015 &amp; 2016</small>
        <h2>Past events</h2>
      </div>
      <div class="section-content-wrapper">
        <div class="past-events-container">

          <div class="past-event-wrapper">
            <a href="http://2016.mscc.mu/" target="_blank" rel="noopener">
              <div class="year-2016"></div>
              <div class="year-wrapper">Developers Conference 2016</div>
            </a>
          </div>

          <div class="past-event-wrapper">
            <a href="http://2015.mscc.mu/" target="_blank" rel="noopener">
              <div class="year-2015"></div>
              <div class="year-wrapper">Developers Conference 2015</div>
            </a>
          </div>

          <div class="past-event-wrapper">
            <a href="https://www.meetup.com/MauritiusSoftwareCraftsmanshipCommunity/events/226532196/" target="_blank" rel="noopener">
              <div class="gwab-2016"></div>
              <div class="year-wrapper">Global Azure Bootcamp 2016</div>
            </a>
          </div>

          <div class="past-event-wrapper">
            <a href="http://gwabmauritius.azurewebsites.net/" target="_blank" rel="noopener">
              <div class="gwab-2015"></div>
              <div class="year-wrapper">Global Azure Bootcamp 2015</div>
            </a>
          </div>

          <div class="past-event-wrapper">
            <a href="https://www.meetup.com/MauritiusSoftwareCraftsmanshipCommunity/events/233937043/" target="_blank" rel="noopener">
              <div class="xamarin-2016"></div>
              <div class="year-wrapper">Xamarin Dev Days 2016</div>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="right-container-wrapper">
      <div class="section-title-wrapper">
        <small>Looking for opportunities?</small>
        <h2>Jobs</h2>
      </div>
      <div class="section-content-wrapper">

        <!-- Preloader -->
        <div class="loader-container" data-id="jobs-loader">
          <div class="loader-wrapper-one">
            <div class="loader-wrapper-two">
              <div class="loader-logo">
                <img src="/assets/images/logo.svg" alt="MSCC Logo">
              </div>
            </div>
          </div>
          <h3>Loading jobs</h3>
        </div>
        <!-- Preloader -->

        <div class="jobs-container" data-view="jobs">
          <template v-if="jobs != null">
            <template v-for="(job, index) in jobs">
              <template v-if="job.gsx$approved.$t == 1">
                <div class="job-wrapper" v-bind:data-job="index">
                  <div class="title-company-wrapper">
                    <div class="job-company">{{job.gsx$companyemployer.$t}}</div>
                    <div class="job-title">{{job.gsx$jobtitle.$t}}</div>
                  </div>
                  <div class="apply-wrapper">
                    <div class="job-apply"><a v-bind:href="job.gsx$linktojoblisting.$t + '?utm_source=devconmru&utm_medium=link&utm_campaign=job'" target="_blank" rel="noopener">Apply <i class="ion-chevron-right"></i></a></div>
                  </div>
                </div>
              </template>
            </template>
          </template>
          <template v-else>
            <div class="job-wrapper no-jobs">
              Currently there are no active job listings. Stay tuned.
            </div>
          </template>
        </div>
        <div class="more-jobs-wrapper">
          <a href="jobs.html">View all jobs</a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container-fw">
    <div class="footer-first-lvl-container">
      <img src="/assets/images/logo.svg" alt="">
      <div class="mscc-name">Mauritius Software Craftsmanship Community</div>

      <div class="social-media-wrapper">
        <span itemscope itemtype="http://schema.org/Organization">
            <link itemprop="url" href="https://www.mscc.mu">
            <a itemprop="sameAs" href="https://www.facebook.com/MauritiusSoftwareCraftsmanshipCommunity/" target="_blank" rel="noopener"><i class="ion-social-facebook"></i></a>
            <a itemprop="sameAs" href="https://plus.google.com/109537765013108874281" target="_blank" rel="noopener"><i class="ion-social-googleplus"></i></a>
            <a itemprop="sameAs" href="https://twitter.com/mscraftsman" target="_blank" rel="noopener"><i class="ion-social-twitter"></i></a>
            <a itemprop="sameAs" href="https://www.linkedin.com/groups/5033639" target="_blank" rel="noopener"><i class="ion-social-linkedin"></i></a>
            <a itemprop="sameAs" href="https://github.com/mscraftsman" target="_blank" rel="noopener"><i class="ion-social-github"></i></a>
        </span>
      </div>

    </div>

    <div class="footer-second-lvl-container">
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="https://www.meetup.com/MauritiusSoftwareCraftsmanshipCommunity/pages/Code_of_Conduct" target="_blank" rel="noopener">Code of Conduct</a></li>
          <li><a href="press.html">Press Material</a></li>
          <li><a href="mailto:conference@mscc.mu">Contact Us</a></li>
          <li><a href="https://goo.gl/tAOqjW" target="_blank" rel="noopener">Become a Sponsor</a></li>
          <li><a href="https://goo.gl/DRGDfe" target="_blank" rel="noopener">Apply as a speaker</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>SiteMap</h3>
        <ul>
          <li><a href="venues.html">Venues</a></li>
          <li><a href="sessions.html">Sessions</a></li>
          <li><a href="/#sponsors">Sponsors</a></li>
          <li><a href="/#speakers">Speakers</a></li>
          <li><a href="jobs.html">Jobs</a></li>
          <li><a href="extras.html">Extras</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="copyright">
          Crafted with <i class="ion-heart"></i> in Mauritius
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/assets/js/vendor/jquery-3.1.1.min.js"></script>
<script async type="text/javascript" src="/assets/js/vendor/jquery.fitvids.min.js"></script>
<script async type="text/javascript" src="/assets/js/service-worker-registration.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/underscore-min.js"></script>
<script type="text/javascript" src="assets/js/vendor/vue.min.js"></script>
<script async type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>