<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Chrome Touch Icons -->
  <meta name="mobile-web-app-capable" content="yes" />
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="theme-color" content="#ee0979">

  <!-- Apple Touch Icons -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="Developers Conference 2017 - Mauritius" />
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">

  <!-- Windows 8 Tile Icons -->

  <meta name="msapplication-square70x70logo" content="/assets/images/favicon/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="/assets/images/favicon/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="/assets/images/favicon/widetile.png" />
  <meta name="msapplication-square310x310logo" content="/assets/images/favicon/largetile.png" />

  <!-- Pinned Site -->
  <meta name="application-name" content="Developers Conference 2017 - Mauritius">
  <meta name="msapplication-tooltip" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017.">

  <title>Preliminary Schedule of Sessions / Developers Conference 2017 - Mauritius</title>
  <meta name='description' content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta name='keywords' content="devconmru, developers conference mauritius, devcon2017, mscc, user group, community, call for papers, cfp, internet of things, iot" />
  <meta name='copyright' content="Copyright Mauritius Software Craftsmanship Community" />
  <meta name='language' content="en" />
  <meta name='robots' content="index,follow" />

  <meta name='summary' content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta name='author' content="Mauritius Software Craftsmanship Community" />
  <meta name='url' content="https://conference.mscc.mu" />
  <meta name='identifier-URL' content="https://conference.mscc.mu" />
  <meta name='pagename' content="Developers Conference 2017 - Mauritius" />
  <meta name='category' content="" />
  <meta name='date' content="" />

  <meta sessionprop="name" content="Sessions / Developers Conference 2017 - Mauritius" />
  <meta sessionprop="description" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta sessionprop="image" content="" />

  <meta property="og:title" content="Sessions / Developers Conference 2017 - Mauritius" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://conference.mscc.mu/sessions.html" />
  <meta property="og:image" content="/assets/images/og-image-sessions.jpg" />
  <meta property="og:description" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta property="og:site_name" content="Developers Conference 2017 - Mauritius" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Sessions / Developers Conference 2017 - Mauritius" />
  <meta name="twitter:description" content="The Developers Conference 2017 is a 3-day event going to take place between 30th March and 1st April 2017. The Mauritius Software Craftsmanship Community (MSCC) is going to organise this event in corporation with local and international sponsors and partners." />
  <meta name="twitter:image" content="/assets/images/og-image-sessions.jpg" />

  <link rel="stylesheet" href="/assets/css/main.css">

  <script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://www.mscc.mu",
            "logo": "https://www.mscc.mu/images/logo.png"
        },
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "MSCC",
            "alternateName": "Mauritius Software Craftsmanship Community",
            "url": "http://www.mscc.mu"
        },
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "Developers Conference 2017",
            "description": "The event is a free of charge, community-driven, three-days IT tech conference hosted annually in Mauritius. It’s an event full of business opportunities, professional networking, and attendees can learn about latest software development technologies and methodologies, as well as cloud features and infrastructure.",
            "startDate": "2017-03-30T09:00",
            "endDate": "2017-04-01T17:30",
            "url": "https://conference.mscc.mu",
            "image": "https://conference.mscc.mu/assets/images/banner-280-409.png",
            "location": {
                "@type": "Place",
                "sameAs": "http://www.voilahotel.mu/",
                "name": "Voila Hotel",
                "address": {
                  "@type": "PostalAddress",
                  "streetAddress": "Bagatelle Mall of Mauritius",
                  "addressLocality": "Reduit",
                  "addressRegion": "MU",
                  "addressCountry": "Mauritius"
                }
              },
            "eventStatus": "EventScheduled"
        }
    ]
    </script>
</head>
<body class="type-page page-sessions">
<header class="header-container" data-id="menu">
  <div class="container-fw">
    <div class="logo-wrapper">
      <a href="/"><img src="assets/images/logo.svg" alt=""></a>
    </div>
    <div class="mobile-menu-wrapper">
      <button data-id="mobile-menu">
        <div class="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </button>
    </div>
    <div class="menu-wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="venues.html">Venues</a></li>
        <li><a href="sessions.html">Sessions</a></li>
        <li><a href="/#sponsors">Sponsors</a></li>
        <li><a href="/#speakers">Speakers</a></li>
        <li><a href="#attendees.html">Attendees</a></li>
        <li><a href="extras.html">Extras</a></li>
        <li><a href="mailto:conference@mscc.mu">Contact</a></li>
      </ul>
    </div>

  </div>
</header>

<section class="section-container page-heading-container">
  <div class="container-fw">
    <div class="section-title-wrapper page-heading-wrapper">
      <small>The Agenda</small>
      <h2>Preliminary Schedule of Sessions</h2>
      <p>We’re working hard to finalize the full agenda of sessions &amp; events. In the meantime, here's a preliminary agenda.</p>
    </div>
  </div>
</section>

<section class="section-container no-padding-container" data-view="sessions">
  <!-- Thursday -->
  <div class="section-wrapper grey-bg">
    <div class="container-fw">
      <div class="section-title-wrapper">
        <small>30th March 2017</small>
        <h2>Thursday</h2>
      </div>
      <div class="section-content-wrapper">
        <div class="session-table-container heading">
          <div class="session-table-row-wrapper">
            <div class="session-table-cell time">Time</div>
            <div class="session-table-cell educator-1">Educator 1</div>
            <div class="session-table-cell educator-2">Educator 2</div>
            <div class="session-table-cell accelerator">Accelerator</div>
          </div>
        </div>
        <!-- Preloader -->
        <div class="session-loader-container" data-id="session-loader-thursday">
          <div class="session-loader-wrapper-one">
            <div class="session-loader-wrapper-two">
              <div class="session-loader-logo">
                <img src="/assets/images/logo.svg" alt="MSCC Logo">
              </div>
            </div>
          </div>
          <h3>Loading session</h3>
        </div>
        <!-- Preloader -->
        <div class="session-table-container">
          <session
              v-bind:itinerary_timings="timingsThursday"
              v-bind:itinerary_sessions="sessionsThursday"
              v-bind:itinerary_showmodal="showModal">
          </session>
        </div>
      </div>
    </div>
  </div>
  <!-- Thursday -->
  <!-- Friday -->
  <div class="section-wrapper">
    <div class="container-fw">
    <div class="section-title-wrapper">
      <small>31th March 2017</small>
      <h2>Friday</h2>
    </div>
    <div class="section-content-wrapper">
      <div class="session-table-container heading">
        <div class="session-table-row-wrapper">
          <div class="session-table-cell time">Time</div>
          <div class="session-table-cell educator-1">Educator 1</div>
          <div class="session-table-cell educator-2">Educator 2</div>
          <div class="session-table-cell accelerator">Accelerator</div>
        </div>
      </div>
      <!-- Preloader -->
      <div class="session-loader-container" data-id="session-loader-friday">
        <div class="session-loader-wrapper-one">
          <div class="session-loader-wrapper-two">
            <div class="session-loader-logo">
              <img src="/assets/images/logo.svg" alt="MSCC Logo">
            </div>
          </div>
        </div>
        <h3>Loading session</h3>
      </div>
      <!-- Preloader -->
      <div class="session-table-container">
        <session
            v-bind:itinerary_timings="timingsFriday"
            v-bind:itinerary_sessions="sessionsFriday"
            v-bind:itinerary_showmodal="showModal">
        </session>
      </div>
    </div>
  </div>
  </div>
  <!-- Friday -->
  <!-- Saturday -->
  <div class="section-wrapper grey-bg">
    <div class="container-fw">
      <div class="section-title-wrapper">
        <small>1st Aril 2017</small>
        <h2>Saturday</h2>
      </div>
      <div class="section-content-wrapper">
        <div class="session-table-container heading">
          <div class="session-table-row-wrapper">
            <div class="session-table-cell time">Time</div>
            <div class="session-table-cell educator-1">Educator 1</div>
            <div class="session-table-cell educator-2">Educator 2</div>
            <div class="session-table-cell accelerator">Accelerator</div>
          </div>
        </div>
        <!-- Preloader -->
        <div class="session-loader-container" data-id="session-loader-saturday">
          <div class="session-loader-wrapper-one">
            <div class="session-loader-wrapper-two">
              <div class="session-loader-logo">
                <img src="/assets/images/logo.svg" alt="MSCC Logo">
              </div>
            </div>
          </div>
          <h3>Loading session</h3>
        </div>
        <!-- Preloader -->
        <div class="session-table-container">
          <session
              v-bind:itinerary_timings="timingsSaturday"
              v-bind:itinerary_sessions="sessionsSaturday"
              v-bind:itinerary_showmodal="showModal">
          </session>
        </div>
      </div>
    </div>
  </div>
  <!-- Saturday -->
</section>

<footer>
  <div class="container-fw">
    <div class="footer-first-lvl-container">
      <img src="/assets/images/logo.svg" alt="">
      <div class="mscc-name">Mauritius Software Craftsmanship Community</div>

      <div class="social-media-wrapper">
                <span itemscope itemtype="http://schema.org/Organization">
                    <link itemprop="url" href="https://www.mscc.mu">
                    <a itemprop="sameAs" href="https://www.facebook.com/MauritiusSoftwareCraftsmanshipCommunity/" target="_blank" rel="noopener"><i class="ion-social-facebook"></i></a>
                    <a itemprop="sameAs" href="https://plus.google.com/109537765013108874281" target="_blank" rel="noopener"><i class="ion-social-googleplus"></i></a>
                    <a itemprop="sameAs" href="https://twitter.com/mscraftsman" target="_blank" rel="noopener"><i class="ion-social-twitter"></i></a>
                    <a itemprop="sameAs" href="https://www.linkedin.com/groups/5033639" target="_blank" rel="noopener"><i class="ion-social-linkedin"></i></a>
                    <a itemprop="sameAs" href="https://github.com/mscraftsman" target="_blank" rel="noopener"><i class="ion-social-github"></i></a>
                </span>
      </div>

    </div>

    <div class="footer-second-lvl-container">
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="https://www.meetup.com/MauritiusSoftwareCraftsmanshipCommunity/pages/Code_of_Conduct" target="_blank" rel="noopener">Code of Conduct</a></li>
          <li><a href="press.html">Press Material</a></li>
          <li><a href="mailto:conference@mscc.mu">Contact Us</a></li>
          <li><a href="https://goo.gl/tAOqjW" target="_blank" rel="noopener">Become a Sponsor</a></li>
          <li><a href="https://goo.gl/DRGDfe" target="_blank" rel="noopener">Apply as a speaker</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>SiteMap</h3>
        <ul>
          <li><a href="venues.html">Venues</a></li>
          <li><a href="sessions.html">Sessions</a></li>
          <li><a href="/#sponsors">Sponsors</a></li>
          <li><a href="/#speakers">Speakers</a></li>
          <li><a href="#attendees.html">Attendees</a></li>
          <li><a href="extras.html">Extras</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="copyright">
          Crafted with <i class="ion-heart"></i> in Mauritius
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Mobile information template -->
<template id="mobile-information">
  <div class="session-mobile-info">
    <template v-if="info_title != ''">
      <template v-if="info_time != ''">
        <span class="session-time"><i class="ion-clock"></i> {{info_time}}</span>
      </template>
      <template v-if="info_room != '' ">
        <span class="session-room" ><i class="ion-android-pin"></i> {{info_room}}</span>
      </template>
      <template v-if="info_abstract != ''"  >
        <span class="session-details" v-on:click="info_show_modal(info_session)">More Info</span>
      </template>
    </template>
  </div>
</template>
<!-- Mobile information template -->

<!-- Itinary template -->
<template id="itinerary">
  <div>
    <div v-for="time in itinerary_timings">
      <div class="session-table-row-wrapper">
        <div class="session-table-cell time" data-room="time" v-cloak>{{time}}</div>

        <div class="session-table-cell educator-1" data-room="educator-1" v-cloak>
          <template v-for="session in itinerary_sessions">
            <template v-if="session.gsx$time.$t == time">
              <template v-if="session.gsx$abstract.$t == '' || session.gsx$abstract.$t == null">
                <div v-if="session.gsx$room.$t == 'educator 1' || session.gsx$room.$t == 'educator' ||  session.gsx$room.$t == '' || session.gsx$room.$t == 'dodo' || session.gsx$room == ''" class="session-content">
                  <span class="session-name no-hover">{{session.gsx$title.$t}}</span>
                  <template v-if="session.gsx$level.$t != ''">
                    <span v-bind:class="session.gsx$level.$t + ' level'"></span>
                  </template>
                  <div v-html="session.gsx$speaker.$t" class="speaker-name"></div>
                  <!-- Mobile only -->
                  <mobileinformation
                      v-bind:info_title="session.gsx$title.$t"
                      v-bind:info_time="time"
                      v-bind:info_room="session.gsx$room.$t"
                      v-bind:info_abstract="session.gsx$abstract.$t"
                      v-bind:info_session="session"
                      v-bind:info_show_modal="itinerary_showmodal"
                  ></mobileinformation>
                  <!-- Mobile only -->
                </div>
              </template>
              <template v-else>
                <div v-on:click="itinerary_showmodal(session)" v-if="session.gsx$room.$t == 'educator 1' || session.gsx$room.$t == 'educator' ||  session.gsx$room.$t == '' || session.gsx$room.$t == 'dodo'" class="session-content">
                  <span class="session-name">{{session.gsx$title.$t}}</span>
                  <template v-if="session.gsx$level.$t != ''">
                    <span v-bind:class="session.gsx$level.$t + ' level'"></span>
                  </template>
                  <div v-html="session.gsx$speaker.$t" class="speaker-name"></div>
                  <!-- Mobile only -->
                  <mobileinformation
                      v-bind:info_title="session.gsx$title.$t"
                      v-bind:info_time="time"
                      v-bind:info_room="session.gsx$room.$t"
                      v-bind:info_abstract="session.gsx$abstract.$t"
                      v-bind:info_session="session"
                      v-bind:info_show_modal="itinerary_showmodal"
                  ></mobileinformation>
                  <!-- Mobile only -->
                </div>
              </template>
            </template>
          </template>
        </div>

        <div class="session-table-cell educator-2" data-room="educator-2" v-cloak>
          <template v-for="session in itinerary_sessions">
            <template v-if="session.gsx$time.$t == time">
              <template v-if="session.gsx$abstract.$t == '' || session.gsx$abstract.$t == null">
                <div v-if="session.gsx$room.$t == 'educator 2'" class="session-content">
                  <span class="session-name no-hover">{{session.gsx$title.$t}}</span>
                  <template v-if="session.gsx$level.$t != ''">
                    <span v-bind:class="session.gsx$level.$t + ' level'"></span>
                  </template>
                  <div v-html="session.gsx$speaker.$t" class="speaker-name"></div>
                  <!-- Mobile only -->
                  <mobileinformation
                      v-bind:info_title="session.gsx$title.$t"
                      v-bind:info_time="time"
                      v-bind:info_room="session.gsx$room.$t"
                      v-bind:info_abstract="session.gsx$abstract.$t"
                      v-bind:info_session="session"
                      v-bind:info_show_modal="itinerary_showmodal"
                  ></mobileinformation>
                  <!-- Mobile only -->
                </div>
              </template>
              <template v-else>

                <div v-on:click="itinerary_showmodal(session)" v-if="session.gsx$room.$t == 'educator 2'" class="session-content">
                  <span class="session-name">{{session.gsx$title.$t}}</span>
                  <template v-if="session.gsx$level.$t != ''">
                    <span v-bind:class="session.gsx$level.$t + ' level'"></span>
                  </template>
                  <div v-html="session.gsx$speaker.$t" class="speaker-name"></div>
                  <!-- Mobile only -->
                  <mobileinformation
                      v-bind:info_title="session.gsx$title.$t"
                      v-bind:info_time="time"
                      v-bind:info_room="session.gsx$room.$t"
                      v-bind:info_abstract="session.gsx$abstract.$t"
                      v-bind:info_session="session"
                      v-bind:info_show_modal="itinerary_showmodal"
                  ></mobileinformation>
                  <!-- Mobile only -->
                </div>
              </template>
            </template>
          </template>
        </div>

        <div class="session-table-cell accelerator" data-room="accelerator" v-cloak>
          <template v-for="session in itinerary_sessions">
            <template v-if="session.gsx$time.$t == time">
              <template v-if="session.gsx$abstract.$t == '' || session.gsx$abstract.$t == null">
                <div v-if="session.gsx$room.$t == 'accelerator'" class="session-content">
                  <span class="session-name no-hover">{{session.gsx$title.$t}}</span>
                  <template v-if="session.gsx$level.$t != ''">
                    <span v-bind:class="session.gsx$level.$t + ' level'"></span>
                  </template>
                  <div v-html="session.gsx$speaker.$t" class="speaker-name"></div>
                  <!-- Mobile only -->
                  <mobileinformation
                      v-bind:info_title="session.gsx$title.$t"
                      v-bind:info_time="time"
                      v-bind:info_room="session.gsx$room.$t"
                      v-bind:info_abstract="session.gsx$abstract.$t"
                      v-bind:info_session="session"
                  ></mobileinformation>
                  <!-- Mobile only -->
                </div>
              </template>
              <template v-else>
                <div v-on:click="itinerary_showmodal(session)" v-if="session.gsx$room.$t == 'accelerator'" class="session-content">
                  <span class="session-name">{{session.gsx$title.$t}}</span>
                  <template v-if="session.gsx$level.$t != ''">
                    <span v-bind:class="session.gsx$level.$t + ' level'"></span>
                  </template>
                  <div v-html="session.gsx$speaker.$t" class="speaker-name"></div>
                  <!-- Mobile only -->
                  <mobileinformation
                      v-bind:info_title="session.gsx$title.$t"
                      v-bind:info_time="time"
                      v-bind:info_room="session.gsx$room.$t"
                      v-bind:info_abstract="session.gsx$abstract.$t"
                      v-bind:info_session="session"
                  ></mobileinformation>
                  <!-- Mobile only -->
                </div>
              </template>
            </template>
          </template>
        </div>

      </div>
    </div>
  </div>
</template>

<!-- Modal template -->
<div class="remodal" data-remodal-id="session">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1 data-modal-info="title"></h1>

  <div class="session-information-table">
    <div class="info-table-row-container">
      <div class="info-cell-wrapper">
        <label>By</label> <span class="data" data-modal-info="person"></span>
      </div>
      <div class="info-cell-wrapper">
        <label>Time</label> <span class="data" data-modal-info="time"></span>
      </div>
    </div>
    <div class="info-table-row-container">
      <div class="info-cell-wrapper">
        <label>Room</label> <span class="data" data-modal-info="room"></span>
      </div>
      <div class="info-cell-wrapper" data-level-wrapper="level" class="no-display">
        <label>Level</label> <span class="level" data-level="" data-modal-info="level"></span>
      </div>
    </div>
  </div>
  <p data-modal-info="desc"></p>
</div>
<!-- Modal template -->

<script type="text/javascript" src="assets/js/vendor/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="assets/js/service-worker-registration.js"></script>
<script type="text/javascript" src="assets/js/vendor/underscore-min.js"></script>
<script type="text/javascript" src="assets/js/vendor/vue.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/remodal/remodal.min.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>

</body>
</html>
